@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  text-align: center;
  margin: 7% auto 0 auto;
}

#dog-image {
  margin: 10% auto 0 auto;
}

.bottom {
  bottom: 0;
  left: 0;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  line-height: 12px;
  padding: 12px;
  position: fixed;
  text-align: left;
  opacity: 0.89;
  font-family: "Quicksand", sans-serif;
}
